@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* . class mein # id mein simple official tag mein and * universal mein */

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: black;
}

.main{
    background-image: url("nassets/bgofnetflix.jpg"); 
    height: 90vh;
    position: relative;
    background-size: max(1200px , 100vw);  /* zoom wala func jobada vo karega */
    background-position: center center;
    background-repeat: no-repeat;
}

.boxonbg{
    height: 90vh ;
    width: 100%;
    opacity: 0.64;
    position:absolute;
    top:0%;
    background-color: black;
}

